@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p> The best place to store and share studying materials across all platforms! </p>
</div>
